* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #456;
}
#block  {
  width: 410px;
  height: 180px;  
  border: 1px solid #aaa;
  margin: 0 auto;
  padding: 20px;
}

#blockOne {
  margin: auto;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 410px;
  background: rgba(234,234,240,.8);
  height: 0;
}

#blockOne input[type="checkbox"] {
    float: left;
    position: relative;
    top: 6px;
    left: 10px;
}

#blockOne ul li:first-child {
  border-top: 1px solid #aaa;
}

#blockOne ul li:last-child {
  border-bottom: 1px solid #aaa;
}

#blockOne ul li {
    list-style: none;
    border-bottom: 1px dashed #152505;
    border-top: 1px dashed #FFFFFF;
    background: #4cae4c;
    text-indent: 15px;
}

#blockOne ul li label {
  color: #fff;
  display: block;
  padding: 5px;
  cursor: pointer;
  font-weight: 100;
}

#block h1 {
  text-align: center;
  color: #4cae4c;
  text-shadow: 0 1px 0 #fff;
}

#block input[type="text"] {
/*  display: block;
  margin: auto;
  width: 300px;
  border: 1px solid #999;
  height: 30px;
  font-size: 20px;
  color: #aaa;
  border-radius: 5px;
  padding: 5px;*/
}

#block #add {
    float: right;
    margin-right: 39px;
    position: relative;
    bottom: 34px;
    left: 40px;
    width: 80px;
    border-radius: 0 5px 5px 0;
}


